.container-fridge-flexbox {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
.fridge-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: none;
  /* border-radius: 30px; */
  /* box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25); */
  width: 1100px;
  height: auto;
  padding: 0px 50px 30px 50px;
  /* border: 5px red solid; */
}

.household-name {
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  /* border: 3px solid brown; */
}

.grid-fridge-box {
  /* border: 5px red solid; */
}

.wrapper-fridge-box {
  display: flex;
  width: 1100px;
  justify-content: flex-start;

  border: 5px teal solid;
  /* flex-wrap: wrap; Wenn neue Haushalte hinzugefügt werden mit Backen*/
}

.fridge-box {
  width: 200px;
  height: 125px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25);
  background-color: lightblue;
  color: #f2f2f2;
  border: 3px solid brown;
}

.fridge-box:hover {
  background-color: #13a88a;
}

.recipe-box {
  width: 200px;
  height: 125px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25);
  background-color: lightcoral;
  color: #f2f2f2;
}
.recipe-box:hover {
  background-color: #13a88a;
}

