.container-household {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  border: 5px green solid;
}

.container-household-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  border: 3px red solid;
  width: 1100px;
  height: 300px;
}

.rules-font-household {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-size: 25px;
  font-style: normal;
  color: #162938;
  border: 2px blue solid;
}

.wrapper-household-box {
  display: flex;
  border: 4px rgb(229, 26, 192) solid;
  width: 100%;
  justify-content: space-evenly;
  /* border: 5px red solid; */

  /* flex-wrap: wrap; Wenn neue Haushalte hinzugefügt werden mit Backen*/
}

.household-box {
  width: 200px;
  height: 125px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25);
  background-color: #8dc4af;
  display: flex;
  justify-content: center;
  color: #f2f2f2;
}

.household-box:hover {
  color: #13a88a;
}

.open-popup {
  border-radius: 10px;
  width: 500px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25);
  /* border: 2px darkblue solid; */
  position: relative;
  bottom: 145px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 50px 30px;
  border-radius: 50px;
  font-size: 18px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
}

.text-container label {
  color: #333;
  font-size: 20pt;
}

.text-container input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 11pt;
  box-shadow: none;
}
.text-container textarea {
  padding: 10px;
  border-radius: 5px;
  border: 5px solid red; /* später None machen */
  font-size: 11pt;
  font-family: sans-serif;
  box-shadow: none;
  width: 405px;
  max-width: 405px;
  min-width: 405px;
  min-height: 50px;
  max-height: 150px;
}

.confirmation {
  /* border: 1px solid #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
}

.btn-confirm-exit {
  border-radius: 50px;
  height: 43px;
  width: 73%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.25);
}

.confirm-icon {
  color: rgba(0, 205, 34, 0.8);
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.confirm-icon:hover {
  background: rgba(0, 205, 34, 0.8);
  color: #f2f2f2;
  border-radius: 100%;
}

.exit-icon {
  color: red;
  background: #f2f2f2;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.exit-icon:hover {
  background: rgba(230, 70, 70);
  color: #f2f2f2;
  border-radius: 100%;
}

.btn-confirm-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.confirmText {
  font-weight: bold;
  font-size: 15pt;
  color: #222;
}
