.wrapper-admin {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.login-box-admin {
  width: 1100px;
  height: 300px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}

.login-admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 10px;
}

.caveat-logfont-admin {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  color: #162938;
}

.btn-log-container-admin {
  display: flex;
  justify-content: center;
}

.btn-log-admin {
  width: 100%;
  height: 40px;
  font-weight: 500;
  background: rgba(179, 234, 84, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-log-admin:hover {
  background: rgba(0, 205, 34, 0.8);
  color: black;
}

.btn-log-admin-cancel {
  width: 100%;
  height: 40px;
  font-weight: 500;
  background: rgba(241, 193, 193, 0.8);
  border: 3px solid red;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.exit-icon {
  color: red;
  width: 6vh;
  height: auto;
}

.btn-log-admin-cancel:hover {
  background: rgba(230, 70, 70, 0.8);
}

.btn-log-admin-cancel:hover .exit-icon {
  color: #f2f2f2;
  border-radius: 100%;
}

.wrapper-household-box {
  display: flex;
  /* border: 1px black solid; */
  width: 100%;
  gap: 1.5 rem;

  /* flex-wrap: wrap; Wenn neue Haushalte hinzugefügt werden mit Backen*/
}

.household-box {
  border: 2px solid rgb(85, 107, 47);
  width: 200px;
  height: 125px;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.popup {
  /* width: 300px;
  background: lightgreen;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden; */
  position: absolute;
  background-color: aquamarine;
  display: flex;
  align-items: center;
}

.open-popup {
  visibility: visible;
  border-radius: 10px;
  width: 485px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width: 100%;
  border-radius: 50px;
}

.form-container h1 {
  color: #222;
  font-size: 30pt;
}
.form-container label {
  color: #333;
  font-size: 24pt;
}

.form-container input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 11pt;
  box-shadow: none;
}
.form-container textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 11pt;
  font-family: sans-serif;
  box-shadow: none;
}
