.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 175px;
}

.login-box {
  width: 500px;
  height: 500px;
  /* background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logfont {
  position: relative;
  top: 50px;
}

.fridge-img {
  position: relative;
  top: 100px;
  width: 100px;
  margin: 0 auto;
}

.btn-log-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}

.btn-log {
  width: 250px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s ease;
  /* background-color: #13a88a;
  color: #fbfbfb; */
  /* background: rgba(255, 255, 255, 0.4); */
}

/* .btn-log:hover {
  background: rgba(29, 151, 35, 0.2);
  border: 2px solid #8dc4af;
  color: rgba(29, 151, 35, 0.8);
} */

/* Kommentar */
