.caveat-logfont-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
  color: #162938;
  display: flex;
  justify-content: center;
  position: relative;
  top: 130px;
  margin-bottom: 0px;
}
